body{
      background-color: #BDBDBD;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


.wrapper{
margin:0px auto;
padding:0px 5px;
width:1250px; 
}

#fond-header{
      height: 160px;
    background: url(../images/12.png);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 600px;
    background-color: #15a4d3;
    background-attachment: fixed;
}
#header-box{
margin-top: 20px;
width: 100%;
height: 95px;
padding-top: 1px;
display: block;
}

/*header code */


header{
height: 151px;
margin-top: 0px;
padding-top: 5px;
}

header h1{
float: left;
margin-top:7px;
color: #388e3c;
font-size: 60px;
margin-left:5px;
}


.info-login{
margin-top: -19px;
font-size: 20px;
background-color:#388e3c;
width: 400px;
height: 95px;
margin-left: 800px;
}

.head-info-login{
width:400px;
height:30px;
background-color:black;
}

.head-info-login span{
font-size:10px;
color:white;
}


.head-info-login  p{
font-size:12px;
color:white;
float: right;
margin-top: 7px;
margin-right: 20px;
}

.head-info-login  a{
font-size: 17px;
color: green;
text-decoration: none;
text-transform: none;
float: left;
background: white;
height: 25px;
width: 115px;
padding-top: 5px;
padding-left: 10px;
margin:0px;
}


form{
float: left;
display: block;
margin-top: 12px;
}


#header-box .info-login input[type="email"]{
width: 130px;
height: 25px;
border: none;
font-weight: normal;
font-size: 13px;
padding-left: 5px;
margin-left:12px;
}

#header-box .info-login input[type="password"]{
width: 130px;
height: 25px;
border: none;
margin-left: 15px;
padding-left: 5px;
}

#header-box .info-login input[type="submit"]{
width: 61px;
height: 25px;
border: 2px solid #FFFFFF;
margin-left: 11px;
background: #388e3c;
color: white;
font-size: 13px;
}

nav{
width: 1200px;
height: 45px;
background-color: black;
margin-left: 19px;
}

nav ul{
 width: auto;
height: 40px;
background-color: black;
float: left;
margin-top: 5px;
padding-left: 19px;
}


nav ul li{
list-style: none;
display: inline-block;
float: left;
padding-right: 25px;
margin-top: 7px;
}

nav ul li a{
color:white;
display:block;
font-weight:bold;
text-decoration:none;
}
a{
text-transform:uppercase;
color:green;
}

a:hover{
color:green;
}

/*heade code ends*/
h3{
margin-top: 10px;
margin-left: 65px;
font-size: 22px;
}

/*section code start*/

section{
    background-color: #f5f5f5;
    height: 750px;
    width: 1200px;
    margin-left: 20px;
}

#welcome{
float: left;
background: url(../images/home.png) no-repeat;
width:1160px;
height:28px;
margin-top: 5px;
margin-left: 20px;
border: 1px solid rgba(0, 0, 0, 0.1);
color: black;
background-color: white;
}

#welcome h3{
margin-top: 6px;
margin-left: 35px;
font-size: 13px;
}

#left{
float: left;
width: 540px;
height:600px;
margin-top:20px;
margin-left: 20px;
}

#left h3{
display: block;
margin: 20px 16px;
color: black;
font-size: 18px;
}

#left h4{
margin-top: 30px;
font-size: 12px;
display: block;
margin-left: 50px;
}

#left form{
margin:1px 10px;
display: block;
}

#left a{
color: green;
text-decoration-line: none;
font-size: 13px;
}

#left a:hover{
color: green;
text-decoration:underline;
font-size:15px;
padding-left: 2px;
}

#left input[type="text"]{
display: block;
border: 2px solid #ddd;
margin-left: 130px;
margin-top: 25px;
width: 235px;
height: 30px;
padding-left: 10px;
}

#left input[type="email"]{
display: block;
border: 2px solid #ddd;
margin-left: 130px;
margin-top: 25px;
width: 235px;
height: 30px;
padding-left: 10px;
}

#left input[type="password"]{
display: block;
border: 2px solid #ddd;
margin-left: 130px;
margin-top: 25px;
width: 235px;
height: 30px;
padding-left: 10px;
}

#left input[type="submit"]{
display: block;
border: 2px solid #ddd;
margin-left: 170px;
margin-top: 35px;
width: 135px;
height: 30px;
padding-left: 10px;
background-color: green;
color:white;
}



#right{
float: right;
width: 600px;
height:600px;
margin-top: 20px;
margin-right: 20px;
}

#right h4{
font-size: 13px;
color: green;
display: block;
margin-left: 20px;
margin-top:60px;
}

#right h2{
font-size: 20px;
color:black;
display: block;
margin-left: 25px;
}

#right h3{
display: block;
margin: 20px 31px;
color: dimgray;
font-size: 18px;
}


footer{
       height: 150px;
    background-color: #f5f5f5;
    width: 1200px;
    margin-left: 20px;
    margin-top: 15px;
}

#dock-container {
            position: absolute;
            text-align: center;
            left: 31%;
            width: 40%;
            right: 29%;
            margin-top: 25px;      
            }

#dock-container li {
            list-style-type: none;
            display: inline-block;
            position: relative;
        }

 #dock-container li img {
          width: 70px;
          height:70px;
          -webkit-box-reflect: below 4px
           -webkit-gradient(linear, left top, left bottom, from(transparent),
           color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
          -webkit-transition: all 0.3s;
          -webkit-transform-origin: 50% 100%;
        }

  #dock-container li:hover img { 
          -webkit-transform: scale(2);
          margin: 0 1.7em;
        }
        #dock-container li:hover + li img,
        #dock-container li.prev img {
          -webkit-transform: scale(1.5);
          margin: 0 1.5em;
       }



 #dock-container li span {
            display: none;
            position: absolute;

            bottom: 75px;
            left: 31px;
            width: 57%;
            background-color: rgba(0,0,0,0.75);
            padding: 4px 0;
            border-radius: 12px;
        }
        #dock-container li:hover span {
            display: block;
            color: #fff;
        }



#policy{
    height:250px;
    background-color: #f5f5f5;
    width: 1200px;
    margin-left: 20px;
    margin-top:0px;
}

#policy ul{
 width:200px;
height:250px;
margin-top:0px;
padding-left: 19px;
}

#policy ul li{
padding-top:23px;
list-style: none;
}

#policy ul li a{
font-size: 15px;
text-transform: none;
text-decoration:none;
}

#policy ul li a:hover{
font-size: 15px;
padding-left: 10px;
}

#policy p{
display: block;
padding-left: 20px;
padding-right: 20px;
text-align: left;
width: 900px;
float: right;
margin-top: -240px;
font-size: 15px;
}

#feature{
width: 1100px;
margin-left: 50px;
float: left;
height:1400px;
margin-top: 20px;
background-color: white;
}

#feature h2{
display: block;
margin-left: 350px;
font-size: 35px;
}

#feature h4{
display: block;
margin-left:300px;
margin-top: -17px;
font-size: 21px;
color: green;
}

#feature h5{
display: block;
margin-left:20px;
margin-top: 45px;
font-size: 21px;
float:left;
}

#topfeature{
width: 1198px;
height:1500px;
background:#f5f5f5;
margin-left: 20px;
}

#morelink{
width: 1098px;
height: 120px;
margin-top:525px;
}

#morelink h2{
font-size:21px;
margin-left:60px;
}

#morelink ul{
width:1000px;
height:30px;
margin-left:0px;
margin-top:45px;
}

#morelink li{
list-style: none;
float: left;
padding-left: 20px;
}
#morelink a{
text-decoration: none;
}

#morelink a:hover{
text-decoration:underline;
color:black;
animation:forwards;
}